<br />
<form>
  <div class="form-group">
    <label for="address">Address</label>
    <input type="text" class="form-control" id="address" placeholder="Address" ng-model="address">
  </div>
  <br>
  <div class="form-group">
    <label for="permission">Type of permission</label>
    <select class="form-control" id="permission" placeholder="Permission" ng-model="permission">
      <option value=1>Can do nothing</option>
      <option value=2>Can do everything</option>
      <option value=3>Only requests</option>
      <option value=4>Only add</option>
    </select>  
  </div>
  <button type="button" class="btn btn-primary" ng-click="AddRights()" data-toggle="modal" data-target="#myModal" >Add rights</button>
</form>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Результат запроса</h4>
      </div>
      <div class="modal-body" ng-if="!!addRights_result">
        <span style="display: block; word-wrap: break-word;">Результат: {{addRights_result}}</span>
      </div>
      <div class="modal-body" ng-if="!!addRights_error">
        <span style="display:block; word-wrap: break-word;">Ошибка: {{addRights_error}}</span>
      </div>
      
      <div class="modal-body" ng-if="!addRights_result && !addRights_error">
        <i class="fa fa-cog fa-spin fa-1x fa-fw"></i>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-cog fa-spin fa-fw" ng-if="!result && !error"></i>&nbsp;Close</button>
      </div>
    </div>
  </div>
</div>